.form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.inputField {
    width: 100%;
    margin: 10px 0;
    height: 20px;
    border: none;
    border-left: 4px solid rgb(130, 1, 130);
}

.btn {
    background-color: #9775fa;
    border: none;
    border-radius: 150px;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #fff;
}

.btn:hover {
    background-color: #7950f2;
}

.btn:disabled {
    background-color: #e5dbff;
}

.bottomAction{
    display: flex;
    justify-content: center;
    align-items: center;
}